@use "../utilities/" as *;

.products-ctn {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: rem(40);
}

.product-card {
	border: 1px solid black;
	padding: rem(10);
	display: flex;
	flex-direction: column;
	gap: rem(10);
}
